@inherits Langueedu.Components.ComponentBase<Langueedu.Components.ViewModels.TrackDetailViewModel>

@namespace Langueedu.Components

<div class="le-track-cover card hovercard text-center">
    <div class="gradient-info">
        <div class="le-track-cover__background"
             style="background-image: url(@TrackBackgroundImage);"></div>
    </div>

    <div class="user-image flex justify-center">
        <LeAvatar Src="@PicturePath" />
        <ul class="share-icons">
            <li>
                <LeButton Color="@Color.Success" Rounded="@Rounded.Full" Command=@BindingContext.ShowGameModeCommand>
                    <i class="fa-solid fa-circle-play"></i>
                </LeButton>
            </li>
            <li>

                <LeButton Color="@Color.Danger" Rounded="@Rounded.Full" Command="@BindingContext.ToggleFollowCommand">
                    <i class=@(@Bind(x=>x.TrackDetail).IsFollowed ? "fa-solid fa-heart" : "fa-regular fa-heart")></i>
                </LeButton>
            </li>
            <li>
                <LeDropdownMenu>
                    <LeButton Color="@Color.Primary" Rounded="@Rounded.Full">
                        <i class="fa-solid fa-share-from-square dropdown"></i>
                    </LeButton>

                    <LeDropdownMenuItems>
                        <LeDropdownItem Text="Facebook" IconClass="fa-brands fa-facebook"
                                        Href=@FacebookShare Target=@LinkTarget.Blank />

                        <LeDropdownItem Text="Twitter" IconClass="fa-brands fa-twitter"
                                        Href=@TwitterShare Target=@LinkTarget.Blank />

                        <LeDropdownItem Text="E-mail" IconClass="fa-solid fa-envelope"
                                        Href=@MailTo Target=@LinkTarget.Blank />
                    </LeDropdownMenuItems>
                </LeDropdownMenu>

            </li>
        </ul>
    </div>

    <div class="info market-tabs p-0">
        <ul class="nav nav-tabs nav-material tabs-scoial" id="top-tab" role="tablist">
            <li class="nav-item">
                <div class="user-designation"></div>
                <div class="title"><a target="_blank" href="">@BindingContext.TrackDetail.Name</a></div>
                <div class="desc mt-2">@BindingContext.TrackDetail.Artists.GetArtistNames()</div>
            </li>
        </ul>
    </div>
</div>

@code {
            [Parameter]
            public short TrackId { get; set; }

            [CascadingParameter]
            public IModalService Modal { get; set; }

    public string TrackBackgroundImage
        {
            get
            {
                if (BindingContext.TrackDetail == null)
                    return string.Empty;

                string trackBackgroundImage = BindingContext.TrackDetail?.Album?.Images?.FirstOrDefault()?.Url;
                if (string.IsNullOrEmpty(trackBackgroundImage))
                    trackBackgroundImage = "_content/Langueedu.Pages/assets/images/track_bg.png";

                return trackBackgroundImage;
            }
        }

        public string MailTo
        {
            get => $"mailto:?subject={ShareText}&body={TrackUrl}";
        }

        public string ShareText
        {
            get
            {
                if (BindingContext.TrackDetail.Artists == null)
                    return string.Empty;

                string artistNames = string.Join(" - ", BindingContext.TrackDetail.Artists?.Select(x => x.Name));

                return $"Play \"{artistNames} - {BindingContext.TrackDetail.Name}\" on Langueedu!";
            }
        }

        public string PicturePath
        {
            get => BindingContext.TrackDetail.Images?.FirstOrDefault().Url;
        }

        public string FacebookShare
        {
            get => $"https://www.facebook.com/sharer/sharer.php?u={TrackUrl}";
        }

        public string TwitterShare
        {
            get => $"https://twitter.com/share?url={TrackUrl}&text={ShareText}";
        }

        public string TrackUrl
        {
            get
            {
                string mainArtistSlug = BindingContext.TrackDetail.Artists?.FirstOrDefault()?.Slug;
                string slug = BindingContext.TrackDetail.Slug;
                int id = BindingContext.TrackDetail.Id;

                string path = $"https://langueedu.com/{mainArtistSlug}/{slug}/{id}";
                return path;
            }
        }
    }